__pycache__/
*.pyc
*.pyo
build/
install/
log/

# YOLO 학습 데이터 & 결과
src/perception/dataset/runs/
src/perception/dataset/train/
src/perception/dataset/valid/
src/perception/dataset/test/
src/perception/dataset/cone_dataset/
src/drobot_description/worlds/generated/
